# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.egg-info/
*.egg

# Database
db.sqlite3

# Django-related
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
media/
staticfiles/
.env

# VS Code / JetBrains
.vscode/
.idea/
